*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

.cinzel-normal {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.raleway-normal {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
html, body {
    overflow-x: hidden; 
    margin: 0;
    padding: 0;
    width: 100vw; 
}
/* NAV BAR */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    height: 124px;
    display: flex;
    padding-top: 2rem;
    padding-bottom: 2rem;
    justify-content: center;
    align-items: center;
    font-family: "Raleway", sans-serif;
    background-color: white;
    border-bottom: solid rgb(0, 0, 0) 2px;
}
.webName{
    flex:0.7;
    font-size: 2rem;
    padding-left: 2%;
    padding-right: 7%;
    color: #AE0505;
}
.menu-button{
    display: none;
}
.navContainer{
    padding-left: 2%;
    flex:1;
    display: flex;
    justify-content: center; 
}
.navLinks{
    list-style: none;
    z-index: 3;
}
.navLinks li{
    position: relative;
    display: inline-block;
    padding: 0rem 1.2rem;
    font-size: 1.5rem;
    z-index: 3;
}
.button-group{
    flex:1;
    display: flex;
    justify-content: flex-end;
    height: 124px;
}
.button-group button{
    height: 100%;
    width: 100%;
    font-size: 1rem;
    font-weight: 500;
    background-color: white;
}
.button-group .StartSelling{
    width: 11.67rem;
    margin-left: -1px;
}
.button-group .Login{
    width: 9.25rem;
}
.ovalHover{
    background-color: #AE0505;
    position: absolute;
    width: 7rem;
    height: 3.5rem;
    top:27%;
    transform: translateX(-3px);
    border-radius: 30px;
    z-index: 0;
}
.navHome{
    color: white;
}

/* SECTIONS AND SHIT */
section {
    display: block;
    width: 100dvw;
}
.pageOne{
    height: calc(100vh - 124px); 
    margin-top: 124px;
}
.pageTwo, .pageThree{
    height: 100vh;
}

/* SECTION ONE */
.section-content .section-text h1{
    font-size: 3.5rem;
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.section-content .section-text h5{
    padding-top: 2rem;
    padding-bottom: 4rem;
    font-size: 1.3rem;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.section-content .section-text button{
    width: 20rem;
    height: 4.68rem;
    border-radius: 12px;
    background-color: white;
    border: solid black 1px;
    font-size: 1.3rem;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.section-content .section-text{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.pageOne .section-content{
    padding: 2rem 10%;
    display: flex;
    justify-content: center;
    gap: 10rem;
}

/* ------------------------ SECTION 2 ------------------------*/
.info{
    padding-left: 5%;
    padding-top: 1%;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.pageTwoHeader{
    font-size:2.5rem;
    padding-bottom: 2rem;
    color: #AE0505;
}
.pageTwoText{
    font-size:1.25rem;
}
.pageTwo {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    padding: 20px;
}
.center {
    display: flex;
    align-items: center; 
    justify-content: center; 
    flex-grow: 1;
    width: 100%;
}
.card-container {
    display: grid;
    grid-template-columns: repeat(2, auto); 
    gap: 0px; 
    justify-content: center;
    max-width: 100%;
}

.card {
    width: 35.56rem; /* Fixed width */
    height: 15.87rem; /* Fixed height */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    border-radius: 20px;
}

/* Adjust gaps for desktop */
.card1 { 
    margin-right: 150px; margin-bottom: 100px; 
    background: rgb(174,5,5);
    background: linear-gradient(180deg, rgba(174,5,5,1) 0%, rgba(72,2,2,1) 100%);

}
.card2 { 
    margin-bottom: 100px; 
    background-color: white;
    border: black solid 2px;
}
.card3 { 
    margin-right: 150px; 
    background-color: white;
    border: black solid 2px;
}
.card4{
    background: rgb(174,5,5);
    background: linear-gradient(180deg, rgba(174,5,5,1) 0%, rgba(72,2,2,1) 100%);
}

/* ------------------------ cards ------------------------*/
/* card one */
.card1,.card2,.card3,.card4 {
    display: flex; 
    flex-direction: column; 
    align-items: flex-start; 
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.cardOne-top {
    flex: 1;
    display: flex;
    width: 100%; 
    flex-direction: row;
    justify-content: space-between; 
    align-items: center; 
}
.cardOne-top h1{
    background-color: white;
    padding: 0.5rem;
    font-size: 2rem;
}
.cardOne-middle {
    flex: 1;
    display: flex;
    align-items: center;
    color: white;
    font-size: 1.25rem;
}
.cardOne-bottom {
    color: white;
    flex: 1;
    display: flex;
    width: 100%; 
    flex-direction: row;
    align-items: center; 
    gap: 1rem;
    font-size: 1.25rem;
}
.cardOne-bottom h2{
    font-weight: normal;
}
/* card two */
.cardTwo-top {
    flex: 1;
    display: flex;
    width: 100%; 
    flex-direction: row;
    justify-content: space-between; 
    align-items: center; 
}
.cardTwo-top h1{
    font-size: 2rem;
}
.cardTwo-middle {
    flex: 1;
    display: flex;
    align-items: center;
    color: black;
    font-size: 1.25rem;
}
.cardTwo-bottom {
    color: black;
    flex: 1;
    display: flex;
    width: 100%; 
    flex-direction: row;
    align-items: center; 
    gap: 1rem;
    font-size: 1.25rem;
}
.cardTwo-bottom h2{
    font-weight: normal;
}
/* card three */
.cardThree-top {
    flex: 1;
    display: flex;
    width: 100%; 
    flex-direction: row;
    justify-content: space-between; 
    align-items: center; 
}
.cardThree-top h1{
    font-size: 2rem;
}
.cardThree-middle {
    flex: 1;
    display: flex;
    align-items: center;
    color: black;
    font-size: 1.25rem;
}
.cardThree-bottom {
    color: black;
    flex: 1;
    display: flex;
    width: 100%; 
    flex-direction: row;
    align-items: center; 
    gap: 1rem;
    font-size: 1.25rem;
}
.cardThree-bottom h2{
    font-weight: normal;
}
/* card four */
.cardFour-top {
    flex: 1;
    display: flex;
    width: 100%; 
    flex-direction: row;
    justify-content: space-between; 
    align-items: center; 
}
.cardFour-top h1{
    background-color: white;
    padding: 0.5rem;
    font-size: 2rem;
}
.cardFour-middle {
    flex: 1;
    display: flex;
    align-items: center;
    color: white;
    font-size: 1.25rem;
}
.cardFour-bottom {
    color: white;
    flex: 1;
    display: flex;
    width: 100%; 
    flex-direction: row;
    align-items: center; 
    gap: 1rem;
    font-size: 1.25rem;
}
.cardFour-bottom h2{
    font-weight: normal;
}


/* divider */
.divider{
    transform: translateY(5rem);
}
.dividerOne{
    position: absolute;
    background: rgb(174,5,5);
    background: linear-gradient(99deg, rgba(174,5,5,1) 0%, rgba(72,2,2,1) 100%);
    width: 100%;
    height: 5.56rem;
    rotate: 3deg;
    transform: translateX(-3px);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: white;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    white-space: nowrap; 
    overflow: hidden;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.5);
}
.dividerTwo{
    position: absolute;
    background: rgb(234,234,234);
    background: linear-gradient(261deg, rgba(234,234,234,1) 0%, rgba(153,153,153,1) 100%);
    width: 100%;
    height: 5.56rem;
    rotate: -3deg;
    transform: translateX(-5px);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color:#AE0505;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    white-space: nowrap; 
    overflow: hidden;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.5);
}


/* page three */
.pageThree{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 13rem;
}
.pageThree-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: black solid 2px;
    width: 75.56rem;
    height: 20.68rem;
    border-radius: 20px;
    padding:3rem;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: white;
}
.pageThree-top{
    flex: 1;  
    font-size: 2rem;
    color: #AE0505;
}    
.pageThree-middle{
    display: flex;
    align-items: center;
    flex: 5;  
    font-size: 1.5rem;
    height: 100%;
    
}    
.pageThree-bottom{
    flex: 1;  
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 1rem;
    padding-right: 2rem;
    font-size: 1.5rem;
}    
/* footer */
footer{
    height: 14.56rem;
    background: rgb(154,0,0);
    background: linear-gradient(90deg, rgba(154,0,0,1) 49%, rgba(52,0,0,1) 100%);
    display: flex;
    color: white;
    align-items: stretch;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
footer ul{
    list-style: none; 
    padding: 0; 
    margin: 0; 
    font-size: 1.3rem;
}
.footerUniTrade {
    display: flex;
    flex-direction: column;
    gap: 0.6rem; 
}
.footerUniTrade h3{
    margin-bottom: 1rem; 
}
footer a{
    text-decoration: underline;
    color: inherit; 
}

.footerOne{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footerTwo{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footerGetStarted {
    display: flex;
    flex-direction: column;
    gap: 0.6rem; 
}
.footerGetStarted h3{
    margin-bottom: 1rem; 
}

.footerThree{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footerGetHelp {
    display: flex;
    flex-direction: column;
    gap: 0.6rem; 
}
.footerGetHelp h3{
    margin-bottom: 1rem; 
}
.invisible-item {
    visibility: hidden; 
    height: 1.5rem; 
}
.footerFour{
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.slide-nav{
    display: none;
}
/* iphone 16 pro max view*/
@media(max-width: 852px) {
    
    html, body {
        overflow-x: hidden; 
        margin: 0;
        padding: 0;
        width: 100vw; 
    }
    header{
        height: 5.344dvh;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0%;
        padding-left: 0%;
        padding-right: 0%;
        flex: 1;
        position: fixed;
    }
    section {
        display: block;
        width: 100dvw;
    }
    .nav-container{
        display: none;
    }
    .button-group{
        display: none;
    }
    .webName{
        flex:0.7;
        font-size: 1rem;
        display: flex;
        justify-content: center;
        padding-left: 0px;
        padding-right: 0px;
        color: #AE0505;
    }
    .menu-button{
        display: flex;
        width: 1.5rem;
        height: 1.5rem;
        position: absolute;
        left: 5%;
    }
    /*section one*/
    .pageOne{
        height: 75dvh; 
        margin-top: 5.344dvh;
    }
    .section-content .section-text h1 {
        font-size: 1.5rem;
        text-align: center;
    }
    .section-content .section-text h5 {
       display: none;
    }
    .pageOne .section-content{
        display: flex;
        flex-direction: column-reverse;
        gap: 2rem;
    }
    .section-img{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 1rem;
        padding-top: 1rem;
    }
    .header-img{
        height: 20rem;
        width: 14.5rem;
        border-radius: 8px;
        border: solid black 2px;
        
    }
    .section-content .section-text button {
        width: 11rem;
        height: 2.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .section-content .section-text {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4rem;
    }

    /*page two*/
    .pageTwoHeader {
        font-size: 1.2rem;
    }
    .pageTwoText {
        font-size: 1rem;
        padding-bottom: 2rem;
    }
    .card-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        
    }
    .card {
        width: 23rem;
        height: 9.8rem;
        
    }
    .card1, .card2, .card3, .card4 {
        margin: 0; 
        margin-bottom: 1rem;
    }
    .cardOne-top h1{
        font-size: 1.25rem !important;
        
    }
    .cardTwo-top h1{
        font-size: 1.25rem !important;
        
    }
    .cardThree-top h1{
        font-size: 1.25rem !important;
        
    }
    .cardFour-top h1{
        font-size: 1.25rem !important;
        
    }
    

    .cardOne-middle {
        font-size: 1rem !important;
        
    }
    .cardTwo-middle {
        font-size: 1rem !important;
        
    }
    .cardThree-middle {
        font-size: 1rem !important;
        
    }
    .cardFour-middle {
        font-size: 1rem !important;
        
    }
    

    .cardOne-bottom {
        font-size: 1rem !important;
        
    }
    .cardTwo-bottom {
        font-size: 1rem !important;
        
    }
    .cardThree-bottom {
        font-size: 1rem !important;
        
    }
    .cardFour-bottom {
        font-size: 1rem !important;
        
    }
    .card img{
        height: 1.5rem;
        width: 1.5rem;
    }
    .dividerOne, .dividerTwo{
        height: 3.5rem;
        font-size: 1.25rem;
        width: 120vw;
        transform: translateX(-10px);
        margin-top: 5rem;
        overflow-x: hidden;
    }
    .dividerOne{
        rotate: 5deg;
    }
    .dividerTwo{
        rotate: -10deg;
    }

    /* page three container*/
    .pageThree-container{
        width: 23rem;
        height: 15rem;
        padding: 0.4rem;
    }
    .pageThree-top{
        padding-top: 1rem;
        font-size: 1rem;
    }
    .pageThree-middle{
        font-size: 1rem;
    }
    .pageThree-bottom{
        flex-direction: row-reverse;
        gap: 0rem;
        padding-right: 0rem;
        font-size: 16px;
        font-family: "Raleway", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        gap: 0.5rem;
        padding-right: 0.5rem;
        padding-bottom: 1rem;
    }
    .pageThree-bottom img{
        height: 23.3px;
        width: 23.3px;

    }
    .pageThree{
        padding-bottom: 7rem;
        height: 80dvh;
    }


    /* FOOTER */
    footer{
        height: 8.25rem;
    }
    .footerThree{
        display: none;
    }
    .footerGetStarted{
        display: none;
    }
    .footerFour{
        flex: 1;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .footerFour h1{
        font-size: 1rem;
    }
    .footerFour img{
        height: 57px;
        width: 43px;
    }
    .footerGetHelp{
        flex: 1;
        justify-content: center;
    }
    .footerOne{
        flex: 1;
    }

    .footerUniTrade h3{
        font-size: 13px;
    }
    .footerGetHelp h3{
        font-size: 13px;
    }
    footer ul{
        list-style: none; 
        padding: 0; 
        margin: 0; 
        font-size: 12px;
    }
    /* SLIDE NAV */
    .slide-nav{
        display: block;
    }
    .slide-nav{
        top: 0%;
        height: 100dvh;
        width: 1000dvh;
        background-color: rgb(0,0,0); 
        background-color: rgba(0,0,0,0.4); 
        backdrop-filter: blur(10px); 
        position: fixed;
        visibility: hidden;
        transition: left 0.1s ease-in-out;
        left: -100%;
        z-index: 100000;
        overflow:hidden;

    }
    .slide-nav.active {
        left: 0;
        visibility: visible;
    }
    .nav-content{
        position: relative;
        color: white;
        height: 100%;
        width: 20.24rem;
        background: rgb(174,5,5);
        background: linear-gradient(180deg, rgba(174,5,5,1) 0%, rgba(72,2,2,1) 100%);
        font-family: "Raleway", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
    }
    
    .nav-uniTradeTop{
        width: 100%;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 5.344dvh;
    
    }
    .nav-uniTradeTop img{
        position: absolute;
        left: 8%;
        height: 1.5rem;
        width: 1.5rem;
    }
    .nav-uniTradeTop h1{
        color:#AE0505;
        font-size: 1rem;
    }
    .slide-top,.slide-bottom{
        padding-left: 10%;
        font-size: 1rem;
        list-style: none; 
        margin: 0; 
    }
    .slide-top li,.slide-bottom li{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-bottom: 39px;
        z-index: 100;
    }
    
    .navHome{
        padding-top: 39px;
        color: #AE0505;
        z-index: 10;
        position: relative;
    }
    .navEnter{
        padding-top: 39px;
    }
    .navSlide-logo{
        padding-right: 1rem;
    }
    .slide-highlight{
        width: 100%;
        height: 2.3rem;
        background-color: white;
        position: absolute;
        left: 0px;
        top:8.5%;
        z-index: 0;
    }
}






/* Mobile: Stack in a column 
@media (max-width: 768px) {
    .card-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .card {
        width: 25.56rem;
    height: 10.87rem;
    }
    .card1, .card2, .card3, .card4 {
        margin: 0; 
    }
}
*/