*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.raleway-normal {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    height: 124px;
    display: flex;
    padding-top: 2rem;
    padding-bottom: 2rem;
    justify-content: center;
    align-items: center;
    font-family: "Raleway", sans-serif;
    background-color: white;
    border-bottom: solid rgb(0, 0, 0) 2px;
}
.menu-button{
    display: none;
}
.webName{
    position: absolute;
    flex:0.7;
    font-size: 2rem;
    left: 5%;
    color: #AE0505;
}
.navContainer{
    padding-left: 2%;
    flex:1;
    display: flex;
    justify-content: center; 
}
.navLinks{
    list-style: none;
    z-index: 3;
}
.navLinks li{
    position: relative;
    display: inline-block;
    padding: 0rem 1.2rem;
    font-size: 1.5rem;
    z-index: 3;
}
.container{
    height: calc(100vh - 124px); 
    margin-top: 124px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
h1{
    font-size: 3rem;
    color:#AE0505;
}
h4{
    font-size: 1.75rem;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
h1,h4{
    margin-bottom: 1rem;

}
h6{
    margin-bottom: 3rem;
    font-size: 1.25rem;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
form{
    width: 34.5rem;
}
form input{
    width: 100%;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
.input-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
    max-width: none;
    height: 4.5rem;
    justify-content: space-between;
    padding: 11px;
    border-radius: 10px;
    padding-inline:13px;
    border: solid black 1.5px;
}
.input-container label{
    font-size: 14px;
}
.input-container input{
    font-size: 1.25rem;
    border: none;
}
input:focus {
    outline: none;  
    border: none;   
    box-shadow: none;
}
.otp-row{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.form-secondRow .otp{
    width: 55%;
    padding-right: 1rem;
}
.form-secondRow a{
    font-size: 14px;
}
.form-firstRow,.form-secondRow,.form-thirdRow,.form-fourthRow{
    display: flex;
    width: 100%;
    gap: 10px;
    margin-bottom: 10px;
}
.form-thirdRow .input-container,
.form-fourthRow .input-container {
    flex: 2; 
}

.fname{
    flex: 1.3;
}
.email{
    flex: 2;
}
.btnGroup{
    margin-top: 10%;
    display: flex;
    justify-content: space-between;
    font-family: "Raleway", sans-serif;
    
}
.cancel,.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    width: 15rem;
    height: 3.75rem;
    font-size: 1.3rem;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}
.cancel{
    border: black solid 1px;
    background-color: white;
}
.submit{
    border: none;
    background-color: #0D62FF;
    color: white;
}